[submodule "Currency-converter-web"]
	path = Currency-converter-web
	url = https://github.com/taher-dev/Currency-converter-web.git
	branch = main
[submodule "React-counter-app"]
	path = React-counter-app
	url = https://github.com/taher-dev/React-counter-app.git
	branch = main
